@using System.Web.Services.Description
@using System.Web.UI.WebControls
@using System.Web.Razor.Parser

@{
    ViewBag.Title = "Publishing";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>File Upload and View</h2>
<body>
    <main>
        @using (Html.BeginForm("Index", "Publishing", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <p>Submit an SDK here for publishing</p>
            <form method="post" action="" enctype="multipart/form-data">
                <label for="file1">Filename:</label>
                <input type="file" name="files" id="file1" />
                <br />
                <label for="file2">Filename:</label>
                <input type="file" name="files" id="file2" />
                <br />
                <input type="submit" />
            </form>
            <br />
            <p>File upload complete</p>
        }
        @using (Html.BeginForm("Index", "Publishing", FormMethod.Post, new {enctype = "application/pdf"}))
        {
            <textarea rows="20" id="area">Uploaded text:</textarea>
        }
    </main>
</body>
